@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

body{
    background-image: url(Imagens/tela-cinema.jpg) no repeat center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: aqua;
    position: relative;
}

section#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 1000px;
    height: 500px;


   }
   
   section#botao{
    
    
   }


   section#botao  img {
    position: absolute;
    left: 95%;
    width: 50px;
    height: 55px;
    margin: 6px;
    border-radius: 50%;

   }
   


