@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

body{
    background-color: rgb(14, 13, 13);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


main h1 {
    text-align: center;
    background-color: rgb(20, 26, 39);
    color: aliceblue;
}

section#tela {
    margin-top: 15px;
    background-color: black;
    width: 75vw;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    border: 2px solid white;
    
    

   }

   iframe#tela {
    width: 75vw;
    height: 70vh;
    border: none;
    
   }
   
   section#botao{
    display: flex;
    background-attachment: fixed;
    flex-wrap: wrap;
    justify-content: center;
    
   }


   section#botao  img {
    width: 70px;
    height: 75px;
    margin: 4px;
    padding: 1px;
    border-radius: 50%;
    box-sizing: border-box;
   }

   section#botao img:hover {
    border: solid rgb(20, 26, 39) 2px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.253);
    transition: transform .3s border .3s;
   }
   


